extends layout/base

block content
  section.content-header 
    h1 
      | Hello World 
      small This is a Hello World Page 
    ol.breadcrumb 
      li 
        a(href="#")
          i.fas.fa-angle-right
          |  Level 
          li.active Here 

  Section.content 
    .row 
      .col-xs-12 
        .box 
          .box-header 
            h3.box-title Hi, Bagass
          .box-body 
            p Welcome to #{title}